<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>Registro de comentarios</h1>
  </div>
  <div style="text-align: center">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field>
        <mat-label>Descripción Comentario</mat-label>
        <input matInput formControlName="descripcionComentario" />

        <mat-error *ngIf="form.get('descripcionComentario')?.hasError('required')">
          La descripcion del comentario es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Post</mat-label>
        <!-- Changed formControlName to idPost -->
        <mat-select formControlName="idPost">
          @for (post of listaPost; track post) {
          <mat-option [value]="post.idPost">{{ post.descripcionPost }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('idPost')?.hasError('required')">
          El post es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <!-- Changed formControlName to idUsuario -->
        <mat-select formControlName="idUsuario">
          @for (usuario of listaUsuarios; track usuario) {
          <mat-option [value]="usuario.idUsuario">{{
            usuario.nombreUsuario
          }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('idUsuario')?.hasError('required')">
          El usuario es obligatorio!
        </mat-error>
      </mat-form-field>
      <br />

      <button mat-raised-button color="primary" [style.background-color]="'#3f51b5'">Aceptar</button>
      <button mat-raised-button color="warn" [style.background-color]="'#FFC107'" (click)="cancelar()">
        Cancelar
      </button>
    </form>
  </div>
</div>