<div class="main-container">
  <div class="form-card-container">
    <h1 class="form-title">{{ edicion ? 'Editar Comentario' : 'Registrar Nuevo Comentario' }}</h1>

    <form [formGroup]="form" (submit)="aceptar()" class="comentario-form">
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Descripción Comentario</mat-label>
        <input matInput formControlName="descripcionComentario" />
        <mat-icon matSuffix>comment</mat-icon>
        <mat-error *ngIf="form.get('descripcionComentario')?.hasError('required')">
          La descripción del comentario es obligatoria.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Post</mat-label>
        <mat-select formControlName="idPost">
          @for (post of listaPost; track post.idPost) {
          <mat-option [value]="post.idPost">{{ post.descripcionPost }}</mat-option>
          }
        </mat-select>
        <mat-icon matSuffix>article</mat-icon>
        <mat-error *ngIf="form.get('idPost')?.hasError('required')">
          El post es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="idUsuario">
          @for (usuario of listaUsuarios; track usuario.idUsuario) {
          <mat-option [value]="usuario.idUsuario">{{ usuario.nombreUsuario }}</mat-option>
          }
        </mat-select>
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="form.get('idUsuario')?.hasError('required')">
          El usuario es obligatorio.
        </mat-error>
      </mat-form-field>

      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          Aceptar
        </button>
        <button mat-raised-button color="warn" (click)="cancelar()" type="button">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>