<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>Registro de rutas</h1>
  </div>
  <div style="text-align: center">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field>
        <mat-label>Zona</mat-label>
        <mat-select formControlName="zona">
          @for (zona of listaZonas; track zona) {
          <mat-option [value]="zona.idZona">{{ zona.nombreZona }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('zona')?.hasError('required')">
          La zona es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Hora de Inicio</mat-label>
        <input matInput [matTimepicker]="pickerInicio" formControlName="horaInicio" />
        <mat-timepicker-toggle matIconSuffix [for]="pickerInicio"></mat-timepicker-toggle>
        <mat-timepicker #pickerInicio></mat-timepicker>
        <mat-error *ngIf="form.get('horaInicio')?.hasError('required')">
          La hora de inicio es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Hora Fin</mat-label>
        <input matInput [matTimepicker]="pickerFin" formControlName="horaFin" />
        <mat-timepicker-toggle matIconSuffix [for]="pickerFin"></mat-timepicker-toggle>
        <mat-timepicker #pickerFin></mat-timepicker>
        <mat-error *ngIf="form.get('horaFin')?.hasError('required')">
          La hora fin es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Nivel de seguridad</mat-label>
        <mat-select formControlName="seguridad">
          @for (seguridad of seguridadd; track seguridad) {
          <mat-option [value]="seguridad.value">{{
            seguridad.viewValue
          }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('seguridad')?.hasError('required')">
          El indice de seguridad es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />

      <button mat-raised-button color="primary" [style.background-color]="'#3f51b5'">Aceptar</button>
      <button mat-raised-button color="warn" [style.background-color]="'#FFC107'" (click)="cancelar()">
        Cancelar
      </button>
    </form>
  </div>
</div>