<mat-toolbar>
  <mat-icon>menu</mat-icon>
  <button mat-button [matMenuTriggerFor]="menuUsuario">Usuarios
    <mat-icon>person</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="menuZona">Zona
    <mat-icon>location_on</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="menuPregunta">Pregunta
    <mat-icon>help</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="menuEncuesta">Encuesta
    <mat-icon>poll</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="menuRol">Rol
    <mat-icon>poll</mat-icon>
  </button>
   <button mat-button [matMenuTriggerFor]="menuRuta">Ruta
    <mat-icon>poll</mat-icon>
  </button>

</mat-toolbar>
<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuZona="matMenu">
  <button mat-menu-item routerLink="/zonas">Listar</button>
  <button mat-menu-item routerLink="/zonas/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuPregunta="matMenu">
  <button mat-menu-item routerLink="/preguntas">Listar</button>
  <button mat-menu-item routerLink="/preguntas/formulario">Insertar</button>

</mat-menu>

<mat-menu #menuEncuesta="matMenu">
  <button mat-menu-item routerLink="/encuestas">Listar</button>
    <button mat-menu-item routerLink="/encuestas/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuRol="matMenu">
  <button mat-menu-item routerLink="/roles">Listar</button>
    <button mat-menu-item routerLink="/roles/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuRuta="matMenu">
  <button mat-menu-item routerLink="/rutas">Listar</button>
    <button mat-menu-item routerLink="/rutas/formulario">Insertar</button>
</mat-menu>

<router-outlet></router-outlet>