<mat-toolbar class="custom-toolbar" *ngIf="verificar()">
  <div>
    <button mat-button [routerLink]="['/homes']" style="color: white">
      <mat-icon>home</mat-icon>Home
    </button>
  </div>
  <div>
    <mat-icon>menu</mat-icon>
    <button mat-button [matMenuTriggerFor]="menuUsuario">
      Usuarios
      <mat-icon>group</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuZona">
      Zona
      <mat-icon>map</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuPregunta">
      Pregunta
      <mat-icon>help_outline</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuEncuesta">
      Encuesta
      <mat-icon>assignment</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuRol">
      Rol
      <mat-icon>verified_user</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuRuta">
      Ruta
      <mat-icon>alt_route</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuIncidente">
      Incidente
      <mat-icon>report_problem</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuEvaluacionIncidente">
      Evaluacion Incidente
      <mat-icon>rate_review</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menuPost">
      Post
      <mat-icon>article</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menuComentario">
      Comentario
      <mat-icon>comment</mat-icon>
    </button>
  </div>
    <div>
    <button mat-button [matMenuTriggerFor]="menuUsuarioRuta">
      Usuario Ruta
      <mat-icon>person_pin_circle</mat-icon>
    </button>
  </div>
 <div>
    <button mat-button [matMenuTriggerFor]="menuEncuestaPregunta">
      Encuesta Pregunta
      <mat-icon>quiz</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuRespuesta">
      Respuesta
      <mat-icon>question_answer</mat-icon>
    </button>
  </div>

  <span class="toolbar-spacer"></span>
  <div class="right-menu">
    <button mat-button [matMenuTriggerFor]="menuSalir">
      <mat-icon>person</mat-icon>Usuario
    </button>
  </div>
</mat-toolbar>
<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuZona="matMenu">
  <button mat-menu-item routerLink="/zonas">Listar</button>
  <button mat-menu-item routerLink="/zonas/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuPregunta="matMenu">
  <button mat-menu-item routerLink="/preguntas">Listar</button>
  <button mat-menu-item routerLink="/preguntas/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuEncuesta="matMenu">
  <button mat-menu-item routerLink="/encuestas">Listar</button>
  <button mat-menu-item routerLink="/encuestas/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuRol="matMenu">
  <button mat-menu-item routerLink="/roles">Listar</button>
  <button mat-menu-item routerLink="/roles/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuRuta="matMenu">
  <button mat-menu-item routerLink="/rutas">Listar</button>
  <button mat-menu-item routerLink="/rutas/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuIncidente="matMenu">
  <button mat-menu-item routerLink="/incidentes">Listar</button>
  <button mat-menu-item routerLink="/incidentes/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuEvaluacionIncidente="matMenu">
  <button mat-menu-item routerLink="/evaluacionincidentes">Listar</button>
  <button mat-menu-item routerLink="/evaluacionincidentes/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuUsuarioRuta="matMenu">
  <button mat-menu-item routerLink="/usuarioRutas">Listar</button>
  <button mat-menu-item routerLink="/usuarioRutas/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuEncuestaPregunta="matMenu">
  <button mat-menu-item routerLink="/encuestasPreguntas">Listar</button>
  <button mat-menu-item routerLink="/encuestasPreguntas/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuPost="matMenu">
  <button mat-menu-item routerLink="/posts">Listar</button>
  <button mat-menu-item routerLink="/posts/formulario">Insertar</button>
</mat-menu>
<mat-menu #menuComentario="matMenu">
  <button mat-menu-item routerLink="/comentarios">Listar</button>
  <button mat-menu-item routerLink="/comentarios/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuRespuesta="matMenu">
  <button mat-menu-item routerLink="/respuestas">Listar</button>
  <button mat-menu-item routerLink="/respuestas/formulario">Insertar</button>
</mat-menu>
<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/landing" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{ role }}</span>
  </button>
</mat-menu>
