<mat-toolbar class="custom-toolbar" *ngIf="verificar()">
  <mat-toolbar-row>
    <button mat-button [routerLink]="['/homes']" style="color: white">
      <mat-icon>home</mat-icon>Home
    </button>

    <button mat-button [matMenuTriggerFor]="menuAdministracion" *ngIf="isADMIN()">
      <mat-icon>build</mat-icon> Administración
    </button>
    <mat-menu #menuAdministracion="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="menuUsuario">
        <mat-icon>group</mat-icon> Usuarios
      </button>
      <button mat-menu-item [matMenuTriggerFor]="menuZona">
        <mat-icon>map</mat-icon> Zona
      </button>
      <button mat-menu-item [matMenuTriggerFor]="menuRol">
        <mat-icon>verified_user</mat-icon> Rol
      </button>
      <button mat-menu-item [matMenuTriggerFor]="menuUsuarioRuta">
        <mat-icon>person_pin_circle</mat-icon> Usuario Ruta
      </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuContenido">
      <mat-icon>article</mat-icon> Contenido
    </button>
    <mat-menu #menuContenido="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="menuPost">
        <mat-icon>article</mat-icon> Post
      </button>
      <button mat-menu-item [matMenuTriggerFor]="menuComentario">
        <mat-icon>comment</mat-icon> Comentario
      </button>
      <button mat-menu-item [matMenuTriggerFor]="menuIncidente">
        <mat-icon>report_problem</mat-icon> Incidente
      </button>
      <button mat-menu-item [matMenuTriggerFor]="menuPregunta" *ngIf="isADMIN()">
        <mat-icon>help_outline</mat-icon> Pregunta
      </button>
      <button mat-menu-item [matMenuTriggerFor]="menuEncuesta" *ngIf="isADMIN()">
        <mat-icon>assignment</mat-icon> Encuesta
      </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuEventosEncuestas">
      <mat-icon>event</mat-icon> Eventos y Encuestas
    </button>
    <mat-menu #menuEventosEncuestas="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="menuRuta">
        <mat-icon>alt_route</mat-icon> Ruta
      </button>
      <button mat-menu-item [matMenuTriggerFor]="menuEvaluacionIncidente" *ngIf="isPOLICIA()">
        <mat-icon>rate_review</mat-icon> Evaluación Incidente
      </button>
      <button mat-menu-item [matMenuTriggerFor]="menuEncuestaPregunta">
        <mat-icon>quiz</mat-icon> Encuesta Pregunta
      </button>
      <button mat-menu-item [matMenuTriggerFor]="menuRespuesta">
        <mat-icon>Youtube</mat-icon> Respuesta
      </button>
    </mat-menu>

     <button mat-button [matMenuTriggerFor]="menuReportes">
      <mat-icon>build</mat-icon> Reportes
    </button>
    
    <span class="toolbar-spacer"></span>

    <div class="right-menu">
      <button mat-button [matMenuTriggerFor]="menuSalir">
        <mat-icon>person</mat-icon>Usuario
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuZona="matMenu">
  <button mat-menu-item routerLink="/zonas">Listar</button>
  <button mat-menu-item routerLink="/zonas/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuPregunta="matMenu">
  <button mat-menu-item routerLink="/preguntas">Listar</button>
  <button mat-menu-item routerLink="/preguntas/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuEncuesta="matMenu">
  <button mat-menu-item routerLink="/encuestas">Listar</button>
  <button mat-menu-item routerLink="/encuestas/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuRol="matMenu">
  <button mat-menu-item routerLink="/roles">Listar</button>
  <button mat-menu-item routerLink="/roles/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuRuta="matMenu">
  <button mat-menu-item routerLink="/rutas">Listar</button>
  <button mat-menu-item routerLink="/rutas/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuIncidente="matMenu">
  <button mat-menu-item routerLink="/incidentes">Listar</button>
  <button mat-menu-item routerLink="/incidentes/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuEvaluacionIncidente="matMenu">
  <button mat-menu-item routerLink="/evaluacionincidentes">Listar</button>
  <button mat-menu-item routerLink="/evaluacionincidentes/formulario">
    Insertar
  </button>
</mat-menu>

<mat-menu #menuUsuarioRuta="matMenu">
  <button mat-menu-item routerLink="/usuarioRutas">Listar</button>
  <button mat-menu-item routerLink="/usuarioRutas/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuEncuestaPregunta="matMenu">
  <button mat-menu-item routerLink="/encuestasPreguntas">Listar</button>
  <button mat-menu-item routerLink="/encuestasPreguntas/formulario">
    Insertar
  </button>
</mat-menu>

<mat-menu #menuPost="matMenu">
  <button mat-menu-item routerLink="/posts">Listar</button>
  <button mat-menu-item routerLink="/posts/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuComentario="matMenu">
  <button mat-menu-item routerLink="/comentarios">Listar</button>
  <button mat-menu-item routerLink="/comentarios/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuRespuesta="matMenu">
  <button mat-menu-item routerLink="/respuestas">Listar</button>
  <button mat-menu-item routerLink="/respuestas/formulario">Insertar</button>
</mat-menu>

<mat-menu #menuReportes="matMenu">
  <button mat-menu-item routerLink="/reportes/Dashboard">DashBoard</button>
</mat-menu>

<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/landing" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{ role }}</span>
  </button>
</mat-menu>
