<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>Registro de rutas</h1>
  </div>
  <div style="text-align: center">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="usuario">
          @for (usuario of listaUsuarios; track usuario) {
          <mat-option [value]="usuario.idUsuario">{{
            usuario.nombreUsuario
          }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('usuario')?.hasError('required')">
          El nombre de usuario es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Zonas</mat-label>
        <mat-select formControlName="zonas">
          @for (ruta of listaRutas; track ruta) {
          <mat-option [value]="ruta.idRuta">{{
            ruta.zona.nombreZona
          }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('zonas')?.hasError('required')">
          Debe registrar por lo menos una zona!!
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Hora de Inicio</mat-label>
        <input matInput [matTimepicker]="pickerInicio" formControlName="horaInicio" />
        <mat-timepicker-toggle matIconSuffix [for]="pickerInicio"></mat-timepicker-toggle>
        <mat-timepicker #pickerInicio></mat-timepicker>
        <mat-error *ngIf="form.get('horaInicio')?.hasError('required')">
          La hora de inicio es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Hora Fin</mat-label>
        <input matInput [matTimepicker]="pickerFin" formControlName="horaFin" />
        <mat-timepicker-toggle matIconSuffix [for]="pickerFin"></mat-timepicker-toggle>
        <mat-timepicker #pickerFin></mat-timepicker>
        <mat-error *ngIf="form.get('horaFin')?.hasError('required')">
          La hora fin es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary">Aceptar</button>
      <button mat-raised-button color="warn" (click)="cancelar()">
        Cancelar
      </button>
    </form>
  </div>
</div>
