<div>
  <div>Registro de usuarios</div>
  <div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error *ngIf="form.get('nombre')?.hasError('required')">
          El nombre de usuario es obligatorio!!
        </mat-error>
        <mat-error *ngIf="form.get('nombre')?.hasError('pattern')">
          No se permiten carácteres especiales
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          El campo email es obligatorio!!
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">
          Debe ser un correo válido
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Telefono Usuario</mat-label>
        <input matInput formControlName="telefono" />
        <mat-error *ngIf="form.get('telefono')?.hasError('required')">
          El campo teléfono es obligatorio!!
        </mat-error>
        <mat-error *ngIf="form.get('telefono')?.hasError('pattern')">
          El teléfono debe tener exactamente 9 dígitos numéricos.
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Dirección Usuario</mat-label>
        <input matInput formControlName="direccion" />
        <mat-error *ngIf="form.get('direccion')?.hasError('required')">
          La dirección es obligatoria!!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="fechaRegistro"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('fechaRegistro')?.hasError('required')">
          La fecha es obligatoria!!
        </mat-error>
        <mat-error *ngIf="form.get('fechaRegistro')?.hasError('fechaPasada')">
          No se permiten fechas pasadas.
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="form.get('username')?.hasError('required')">
          Este campo es obligatorio!!
        </mat-error>
        <mat-error *ngIf="form.get('username')?.hasError('usernameDuplicado')">
          El nombre de usuario ya está en uso.
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill" *ngIf="!edicion"> <!-- Si está en modo edición no muestra el campo contraseña -->
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Mostrar u ocultar contraseña'"
          [attr.aria-pressed]="!hidePassword"
          type="button"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          Este campo es obligatorio!!
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Habilitado</mat-label>
        <mat-select formControlName="enable">
          <mat-option *ngFor="let p of enable" [value]="p.value">
            {{ p.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />

      <button mat-raised-button color="primary" type="submit">Aceptar</button>
      <button
        mat-raised-button
        color="warn"
        (click)="cancelar()"
        routerLink="/usuarios"
      >
        Cancelar
      </button>
    </form>
  </div>
</div>


