<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>Registro de rutas</h1>
  </div>
  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="zona">
          @for (usuario of listaUsuario; track usuario) {
          <mat-option [value]="usuario.idUsuario">{{ usuario.nombreUsuario }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <br />
<mat-form-field>
        <mat-label>Ruta</mat-label>
        <mat-select formControlName="zona">
          @for (ruta of listaRuta; track ruta) {
          <mat-option [value]="ruta.idRuta">{{ ruta.zona.nombreZona }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <br />

      <button mat-raised-button color="primary">Aceptar</button>
      <button mat-raised-button color="warn" (click)="cancelar()">
        Cancelar
      </button>
    </form>
  </div>
</div>
