<div class="main-container">
  <div class="top-header-section">
    <div class="title-search-block">
      <h1 class="page-title">Lista de Respuestas</h1>
    </div>
  </div>

  <div class="content-cards-section">
    <div *ngIf="dataSource.data.length === 0" class="no-data-container">
      <p>No hay respuestas disponibles para mostrar en este momento.</p>
      <mat-icon class="no-data-icon">sentiment_dissatisfied</mat-icon>
    </div>


    <div class="cards-grid" *ngIf="dataSource.data.length > 0">
      <mat-card class="respuesta-card" *ngFor="let res of dataSource.connect() | async">
        <mat-card-header>
          <mat-card-title><mat-icon class="card-title-icon">message</mat-icon> ID Respuesta: {{ res.idRespuesta }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="respuesta-texto">
            <mat-icon class="card-icon">text_fields</mat-icon> "{{ res.textoRespuesta }}"
          </p>
          <p>
            <mat-icon class="card-icon">event</mat-icon> Fecha:
            {{ res.fechaRespuesta | date:'dd/MM/yyyy HH:mm' }}
          </p>

          <hr class="card-divider">

          <h3 class="card-subtitle-heading"><mat-icon class="card-icon">poll</mat-icon> Detalles de la Encuesta y Pregunta:</h3>
          <p>
            <mat-icon class="card-icon">assignment</mat-icon> Encuesta:
            {{ res.encuestaPregunta.encuesta.nombreEncuesta || 'N/A' }}
          </p>
          <p>
            <mat-icon class="card-icon">question_answer</mat-icon> Pregunta:
            {{ res.encuestaPregunta.pregunta.textoPregunta }}
          </p>

          <h3 class="card-subtitle-heading"><mat-icon class="card-icon">person</mat-icon> Usuario que Respondió:</h3>
          <p>
            <mat-icon class="card-icon">account_circle</mat-icon> Nombre:
            {{ res.usuario.nombreUsuario || 'N/A' }}
          </p>
          <p>
            <mat-icon class="card-icon">email</mat-icon> Email:
            {{ res.usuario.emailUsuario || 'N/A' }}
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button color="warn" (click)="eliminar(res.idRespuesta)">
            <mat-icon>delete_forever</mat-icon> Eliminar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <mat-paginator
      [length]="dataSource.data.length"
      [pageSize]="3"
      [pageSizeOptions]="[3, 6, 9, 12]"
      aria-label="Seleccionar página de respuestas"
      class="user-paginator"
      [hidden]="dataSource.data.length === 0"
    >
    </mat-paginator>
  </div>
</div>

<!-- FOOTER ESPECÍFICO PARA ESTE COMPONENTE -->
<footer class="app-footer"></footer>