<div class="main-container">
  <div class="form-card-container">
    <h1 class="form-title">{{ edicion ? 'Editar Rol' : 'Registrar Nuevo Rol' }}</h1>

    <form [formGroup]="form" (submit)="aceptar()" class="rol-form">

      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="nombre">
          @for (nombre of nombres; track nombre.value) {
          <mat-option [value]="nombre.value">{{ nombre.viewValue }}</mat-option>
          }
        </mat-select>
        <mat-icon matSuffix>security</mat-icon>
        <mat-error *ngIf="form.get('nombre')?.hasError('required')">
          El rol es obligatorio.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="usuario">
          @for (user of listaUsuarios; track user.idUsuario) {
          <mat-option [value]="user.idUsuario">{{ user.nombreUsuario }}</mat-option>
          }
        </mat-select>
        <mat-icon matSuffix>person_search</mat-icon>
        <mat-error *ngIf="form.get('usuario')?.hasError('required')">
          El usuario es obligatorio.
        </mat-error>
      </mat-form-field>

      <!-- Botones de Acción -->
      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          Aceptar
        </button>
        <button mat-raised-button color="warn" (click)="cancelar()" type="button">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>