<div class="container">
    <div>
        <h1 class="titulo">Lista de Evaluación de Incidentes</h1>
    </div>
 <div class="slider-container">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let evaluacionincidente of evaluacionincidente">
      <mat-card class="usuario-card">
        <mat-card-header>
          <mat-card-title>{{ evaluacionincidente.aprobacionIncidente ? 'Aprobado' : 'Desaprobado' }}</mat-card-title>     
        </mat-card-header>
        <mat-card-content>
          <p>ID: {{ evaluacionincidente.idEvaluacionIncidente }}</p>
          <p>Fecha de creación: {{ evaluacionincidente.fechaCreacionIncidente }}</p>
          <p>Usuario: {{ evaluacionincidente.usuario.nombreUsuario }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" [routerLink]="['ediciones', evaluacionincidente.idEvaluacionIncidente]"><mat-icon>edit</mat-icon></button>
          <button mat-button color="warn" (click)="eliminar(evaluacionincidente.idEvaluacionIncidente)"><mat-icon>delete_forever</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </ng-template>
  </owl-carousel-o>
</div>
</div>
  